// Base
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';

// Prime NG
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

// Bootstrap
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
@import '~bootstrap/scss/bootstrap';

// Pages
@import './apps/shop/pages/home-page.scss';
@import './apps/shop/pages/product-list-page.scss';

// Shared
@import './apps/shop/shared/header.scss';
@import './apps/shop/shared/footer.scss';

// Libs
@import './libs/ui/ui.scss';
@import './libs/products/product-item.scss';